
<% provide(:title, 'New complain') %>
<% provide(:head_quote, 'Technical solution to your problems') %> 
    <td colspan="2" rowspan="2" align="left" valign="top">
    	<p class="style24">
    		You are here 
    		<%= link_to "Help",    '#' %>.
    		</p>
    		
    <h1>New complain</h1>

<%= render 'form' %>

<%= link_to 'Back', complains_path %>

</td>
  </tr>
 