<% provide(:title, 'About Us') %>

<% provide(:head_quote, 'About Us') %>       
<td colspan="2" rowspan="2" align="left" valign="top"><p class="style24">You are here <%= link_to "About Us",    '#' %> . </p>
      <p class="style24">Our mission:</p>
      <p class="style41">To make an enviroment to people need to sell thier old car or buy a used car to communicate and make a deal via website to make it easier for both of them </p></td>
  </tr>
  