<% provide(:title, 'Contact us') %>
<% provide(:head_quote, 'Our Contact Information ') %> 
    <td colspan="2" rowspan="2" align="left" valign="top"><p class="style24">You are here <a href="contact.html">Contact_us</a>.</p>
      <table width="516" height="336" border="0">
        <tr>
          <td colspan="2"><span class="style23">You can contact us via:</span></td>
        </tr>
        <tr>
          <td width="106">Telephone</td>
          <td width="400">011112345678</td>
        </tr>
        <tr>
          <td>Mobile:</td>
          <td>010004568793</td>
        </tr>
        <tr>
          <td>E_mail:</td>
          <td><p>info@carwebsite.com</p>
          <p>support@carwebsite.com</p></td>
        </tr>
        <tr>
          <td>Fax :</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td height="59">Follow us:</td>
          <td><img src="/images/facebook_creatures_100692 copy.png" alt="facebook" width="55" height="40"> <img src="/images/twitter_relax_102081 copy.png" alt="twitter" width="55" height="40"> <img src="/images/images copy.png" alt="linkedin" width="55" height="40"> <img src="/images/19578368811876083610.png" alt="youtube" width="55" height="40"></td>
        </tr>
      </table>      
    <p class="style24">&nbsp;</p></td>
  </tr>
  