<% provide(:title, 'Help') %>
<% provide(:head_quote, 'Technical solution to your problems') %> 
    <td colspan="2" rowspan="2" align="left" valign="top">
    	<p class="style24">
    		You are here 
    		<%= link_to "Help",    '#' %>.
    		</p>
      <p class="style24">&nbsp;</p></td>
  </tr>
 