<% provide(:title, 'Home') %>
    <% provide(:head_quote, 'Welcome To Car Website') %>   
   
    <td colspan="2" rowspan="2" align="left" valign="top">
    	<p class="style24">
    		You are here
    		 <%= link_to "Home",    '#' %>.
    		 </p>
   <br/>
   You can sign in if you already had an account <br/>
    or Register if this is your first time <br/>
    <h2 class="style24">
    To be able to see our product  
    </h2>	
    </td>
 
  </tr>
  