// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link {
  color: #FFFFFF;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  text-decoration: underline;
  color: #0099FF;
}
a:active {
  text-decoration: none;
  color: #FFFFFF;
}
.style21 {
  font-size: 24px;
  color: #FFFFFF;
}
.style22 {
  color: #FFFFFF;
  font-size: 18px;
}
.style23 {color: #FFFFFF}
.style24 {color: #663366}
.style13 {  color: #FFFFFF;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.style41 {color: #333333; }